In [69]:
print ("Item analytics")

Item analytics

In [70]:
#Analyze the data

In [71]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
 
file = r'export.csv'
df = pd.read_csv(file)
print(df.head(10))
df.describe()

  ITEM  ITEM_COST DATE_OF_PURCHASE STATE  INTEREST
0    C          5        6/14/2017    LA       0.5
1    C          5        7/22/2017    MO       0.5
2    B        215        8/17/2017    UT       2.5
3    C          5        8/17/2017    CO       0.5
4    C        205        8/20/2017    NY       2.5
5    B        215        8/20/2017    TX       2.5
6    A        225        8/20/2017    NH       2.5
7    C          5        8/24/2017    WA       0.5
8    C          5         9/5/2017    CO       0.5
9    C        205        9/23/2017    GA       2.5

       ITEM_COST    INTEREST
count  511.00000  511.000000
mean   145.37182    1.466732
std    154.84356    1.000426
min      5.00000    0.500000
25%      5.00000    0.500000
50%    205.00000    0.500000
75%    235.00000    2.500000
max    635.00000    2.500000

In [72]:
df = df.loc[df['ITEM'] == 'C']

df.head()

df = df[['DATE_OF_PURCHASE']]

df.head()

  DATE_OF_PURCHASE
0        6/14/2017
1        7/22/2017
3        8/17/2017
4        8/20/2017
7        8/24/2017

In [73]:
df['DATE_OF_PURCHASE'] = pd.to_datetime(df['DATE_OF_PURCHASE'])
#df = df[["DATE_OF_PURCHASE"]].astype("datetime64[ns]")
df.groupby(df["DATE_OF_PURCHASE"].dt.week).count().plot(kind="bar", figsize=(20,10))

plt.figure(); 
plt.show()

ValueError: Error parsing datetime string "2/20/2018" at position 1

In [ ]:
df.groupby(df["DATE_OF_PURCHASE"].dt.month).count().plot(kind="bar", figsize=(20,10))

plt.figure(); 
plt.show()

In [ ]:
df.groupby(df["DATE_OF_PURCHASE"].dt.year).count().plot(kind="bar", figsize=(20,10))

plt.figure(); 
plt.show()